.draggable {
    background-color: orange;
    padding: 3px 10px 3px 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    color: white;
    cursor: move;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 50px;
    width: 100%;
    height: 100%;

    .user-input {
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding: 10px 10px 10px 30px;

        .header {
            min-height: 60px;
            margin-bottom: 50px;
            padding-left: 20px;
            font-size: 30px;
            border: 0px solid silver;
            border-radius: 6px;
        }

        .header:hover {
            transition: 0.3s;
            box-shadow: 0.2px 0.2px 1px 1px silver;
        }

        .header:focus {
            box-shadow: 0.2px 0.2px 1px 1px silver;
        }

        .ques {
            text-align: left;
            font-size: 18px;
            margin-bottom: 20px;
        }

        .ans {
            display: flex;

            input {
                margin-right: 10px;
                margin-left: 20px;
                outline: none;
                border: none;
                border-bottom: 2px solid grey;
                width: 40%;
                font-family: 'Poppins', sans-serif;
                font-size: 14px;
                color: #93918E
            }

            button {
                background-color: grey;
                border-radius: 4px;
                border: none;
                color: white;
                padding: 5px 8px 5px 8px;
                font-size: 14px;
                outline: none;
            }
        }
    }

    .ans-display {
        width: 80%;
        display: flex;
        flex-wrap: wrap;
        padding: 10px 10px 10px 30px;

        .each-change {
            background-color: orange;
            color: white;
            padding: 3px 8px 3px 8px;
            margin: 20px 10px 0 0;
            border-radius: 4px;
            cursor: move;
        }

    }

    .classify {
        display: flex;
        width: 80%;
        margin-top: 30px;

        .session {
            width: 30%;
            border: 1px solid #D0D0D0;
            border-radius: 4px;
            margin: 10px;
            padding: 0px 20px 50px 20px;

            .category {
                margin-top: 10px;
                margin-bottom: 10px;
                color: black;
                font-size: 16px;
                border: none;
                padding: 3px;
            }

            .category:hover {
                box-shadow:  0 1px silver;
                transition: 0.3s
            }

            .category:focus {
                outline: none;
                box-shadow:  0 1px silver;
                transition: 0.3s
            }


        }

        .session:hover {
            box-shadow: 0 5px 15px rgba(0,0,0,0.3);
            transition: box-shadow 0.5s ease-in-out;
        }

        .add-cate-btn {
            max-height: 40px;
        }
    }
}