.container {
    padding-bottom: 40px;

    .wrapper {
        background-color: white;
        padding: 20px;
        width: 30%;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 4px;
        background-color: orange;

        .slider-container {
            // background-color: #3D3A39 ;
            background-color: #dedede; 
            padding: 30px;
            border-radius: 4px;
            width: 80%;
            


            @media (max-width: 1000px){
                padding: 20px;
            }

            .slider {
                // margin-top: 30px;
                width: 80%;
                -webkit-appearance: none;
                height: 15px;
                border-radius: 16px;
                outline: none;
                opacity: 1;
                -webkit-transition: .2s;
                transition: opacity .2s;

                @media (max-width: 1000px){
                    height: 10px
                }
            }
            
            .slider::-webkit-slider-thumb {
                -webkit-appearance: none;
                appearance: none;
                width: 15px;
                height: 50px;
                background: #FD5D5D;
                border-radius: 16px;
                cursor: pointer;

                @media (max-width: 1000px){
                    height: 35px
                }
            }
            
            .slider::-moz-range-thumb {
                width: 25px;
                height: 25px;
                background: #4CAF50;
                cursor: pointer;
            }
        }

        .text-container {
            .tree-number {
                color: white;
                font-size: 30px;
                font-weight: bold;
                margin: 0;
                padding: 0
            }
        }
    }
}