.container {
    display: flex;
    // flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;

    .display-site {
        background-color: #60B6D4 ;
        width: 50%;
        display: flex;
        justify-content: center;
        padding: 20px 0 0 0;
        


        .text {
                position: relative;
                padding: 10px;
                width: 250px;
                height: 150px;
                text-align: center;
                line-height: 1.8;
                background-color: #fff;
                border: 8px solid #666;
                -webkit-border-radius: 30px;
                -moz-border-radius: 30px;
                border-radius: 30px;
                -webkit-box-shadow: 2px 2px 4px #888;
                -moz-box-shadow: 2px 2px 4px #888;
                box-shadow: 2px 2px 4px #888;


                p {
                    font-size: 2vw;
                }
            
        }

        .text:before {
            content: ' ';
            position: absolute;
            width: 0;
            height: 0;
            left: 30px;
            top: 170px;
            border: 25px solid;
            border-color: #666 transparent transparent #666;
        }

        .text:after {
            content: ' ';
            position: absolute;
            width: 0;
            height: 0;
            left: 38px;
            top: 170px;
            border: 15px solid;
            border-color: #fff transparent transparent #fff;
        }
    }

    .input-site {
        background-color: #EBEBEB;
        width: 50%;
        padding: 50px 0 30px 0;
        display: flex;
        justify-content: center;
        
        .type-wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;

                .ques {
                    margin-bottom: 10px;

                    .ques-input {
                        background-color: white;
                        border: none;
                        border-radius: 4px;
                        padding: 5px 5px 5px 10px;
                        min-width: 400px;
                        min-height: 40px;
                        font-size: 16px;

                    }

                }

                .ans {
                    display: flex;
                    align-items: flex-end;
                

                    .ans-input {
                        border: none;
                        border-bottom: 1px solid grey;
                        background-color: #EBEBEB;
                        margin-right: 10px;
                        font-size: 14px;
                        font-family: 'Poppins', sans-serif;
                        
                    }

                    .ans-input:focus {
                        outline: none;
                    }

                    button {
                        background-color: #60B6D4 ;
                        color: white;
                        border: none;
                        border-radius: 4px;
                        padding: 5px 8px 5px 8px;
                        font-family: 'Poppins', sans-serif;
                        margin-top: 10px;
                    }
            }
        }
    }

    
}