.course {
    width: 20%;
    padding: 0 30px 0 30px;
    margin: 0 0px 40px 0;
    // background-color: pink;

    @media (max-width: 1000px) {
        width: 22%;
    }

    .course-wrapper {
        border: 1px solid #DFDFDF;
        border-radius: 2px;
        
        .image {
            width: 100%;
            height: 150px;
            overflow: hidden;
            // background-color: yellow;

            @media (max-width: 1000px) {
                height: 100px
            }

            img {
                width: 100%;
                border-radius: 2px;
            }
        }

        .info {
            margin: 0;
            padding: 10px;

            .name-vote {
                width: 100%;
                // background-color: purple;
                display: flex;
                justify-content: space-between;
                align-items: flex-start;
                flex-wrap: wrap;
                margin: 0 0 5px 0;

                .name {
                    text-align: left;
                    margin: 0;
                    font-weight: 550;
                    font-size: 16px;
                    max-width: 60%;
                }

                .rating {
                    font-size: 12px;
                    min-width: 30%;
                }
            }

            .duration {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                margin: 0;
                // background-color: green;
                padding: 0;

                .clock {
                    margin-right: 5px;
                }

                .min {
                    margin: 0;
                    font-size: 14px;
                    
                    
                }
            }
        }
    }
}