.course {
    width: 20%;
    margin: 0 20px 0px 0;

    @media (max-width: 1200px){
        width: 25%;
        margin: 30px 20px 30px 0;
    }
   

    .image {
        width: 250px;
        height: 150px;
        position: relative;
        overflow: hidden;
        background-color: #E7E7E8;



        img {
            // width: 100%;
            position: absolute;
            left: 50%;
            top: 50%;
            height: 100%;
            width: auto;
            -webkit-transform: translate(-50%,-50%);
                -ms-transform: translate(-50%,-50%);
                    transform: translate(-50%,-50%);
        }
    }


    .info {
        // background-color: yellow;
        position: absolute;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        width: 250px;

        .left {
            .name {
                color: rgb(34,34,34);
                font-weight: bold;
                margin: 10px 0 5px 0;
                text-align: left;
            }

            .duration {
                margin: 0;
                padding: 0;
                display: flex;
                align-items: center;

                .clock {
                    color: grey;
                    font-size: 14px;
                    margin-right: 5px;
                }

                .min {
                    font-size: 14px;
                    color: #575758;
                    margin: 0;
                }

            }
        }

        .right {
            width: 80px;
            padding-top: 10px;
            // background-color: red;
            display: flex;
            justify-content: flex-end;
        }
        
        
    }

}

.course:hover {
  



}

