.details {
    min-height: 100vh;

    .top {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        width: 100%;
        border-bottom: 1px solid #E8E8E9;
        padding: 20px 20% 20px 20%;

        .date {
            margin: 10px 0 10px 0;
            padding: 0
        }

        .title {
            margin: 0 0 10px 0;
            padding: 0
        }
    }

    .main {
        background-color: #F9F9F9;
        padding: 20px 20% 20px 20%;
        display: flex;

        .details {
            width: 60%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            .header {
                text-align: left;
            }

            .text {
                text-align: left;
                line-height: 1.6;
            }
        }

        .time-venue {
            width: 40%;
            display: flex;
            flex-direction: column;
            align-items: flex-end;

            .top {
                width: 75%;
                background-color: white;
                margin: 10px;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                padding: 10px;
                border-radius: 4px;

                .host {
                    margin-left: 10px;
                    display: flex;
                    align-items: center;

                    .logo {
                        border-radius: 4px;
                        width: 20%;
                        margin-right: 10px;

                        img {
                            width: 100%;
                        }
                    }

                    .name {

                    }
                }
            }

            .down {
                background-color: white;
                width: 75%;
                margin: 10px;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                padding: 10px;
                border-radius: 4px;

                .time {
                    display: flex;
                    align-items: flex-start;
                    margin: 10px 0 10px 10px;

                    .icon {
                        margin-right: 10px;
                        color: grey
                    }

                    .info {
                        .date {
                            text-align: left;
                            margin-bottom: 5px;
                        }

                        .hour {
                            text-align: left;
                        }
                    }
                }

                .venue {
                    display: flex;
                    align-items: flex-start;
                    margin: 10px 0 10px 10px;

                    .icon {
                        margin-right: 10px;
                        color: grey
                    }

                    .info {
        
                        .name {
                            margin-bottom: 5px;
                            text-align: left;
                        }
        
                        .link {
                            text-align: left;
                            color: grey;
                            margin: 15px 0 6px 0;

                            .launch-btn {
                                background-color: #DB3079;
                                border-radius: 4px;
                                padding: 5px 12px 5px 12px;
                                border: none;
                                color: white;
                                width: 100%;
                                font-size: 16px;
                                font-family: 'Poppins', sans-serif;
                                text-decoration: none;
                            }
                        }
                    }
    
                }

            }

            

        }
        
    }
}